body {
    background-image: url('imagen.jpeg');
}

.box {
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: linear-gradient(blue, transparent, purple);
}
p {
    color: black;
    background-color: white;

}