body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: white;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #555;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #8c2709;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.inicio {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav {
    background-color: #a83232;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

article {
    margin-bottom: 30px;
}

article h2 {
    color: #800000;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

video {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    video {
        width: 100%;
        height: auto;
    }
}
.contacto {
    color: #800000;
}
button {
    background-color: #800000;
}
label {
    color: #800000;
}